{{ ^disableComments }}
### Gradle ###
{{ /disableComments }}
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

{{ ^disableComments }}
### IntelliJ IDEA ###
{{ /disableComments }}
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

{{ ^disableComments }}
### Eclipse ###
{{ /disableComments }}
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

{{ ^disableComments }}
### VS Code ###
{{ /disableComments }}
.vscode/

{{ ^disableComments }}
### Mac OS ###
{{ /disableComments }}
.DS_Store

{{ ^disableComments }}
### Minecraft Modding ###
{{ /disableComments }}
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
